::-webkit-scrollbar {
  display: none;
}

main {
  background-color: #fff; /* radial-gradient(circle at center -150%, #d0edff, #e7f5fb, #ffffff) */
  display: flex;
  justify-content: center;
  top: 0;
  height: 100vh;
  width: 100%;
}

.Main-Section {
  margin-top: 100px;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  align-items: flex-start;
  align-content: flex-start;
}

.App {
  text-align: center;
  display: flex;
  height: 100vh;
}

@media (max-width: 450px) {
  .App {
    min-height: 90vh;
    height: 100%;
  }
}

.App-logo {
  height: 50px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}
