main {
  background: radial-gradient(circle at center -150%, #d0edff, #e7f5fb, #ffffff);
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  height: 140vh;
  width: 100%;
}

.Main-Section {
  margin-top: 100px;
  padding: 15px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  gap: 20px;
  align-items: flex-start;
  align-content: flex-start;
}
